"*":
  "atom-beautify":
    general:
      _analyticsUserId: "da6d494b-5dea-401d-b163-85a06ef32a36"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "autocomplete-elixir"
      "welcome"
      "timecop"
      "symbols-view"
      "styleguide"
      "spell-check"
      "snippets"
      "package-generator"
      "open-on-github"
      "link"
      "line-ending-selector"
      "language-yaml"
      "language-xml"
      "language-typescript"
      "language-toml"
      "language-sql"
      "language-shellscript"
      "language-sass"
      "language-ruby-on-rails"
      "language-ruby"
      "language-python"
      "language-property-list"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-make"
      "language-java"
      "language-hyperlink"
      "language-go"
      "language-csharp"
      "language-coffee-script"
      "language-clojure"
      "language-c"
      "keybinding-resolver"
      "image-view"
      "grammar-selector"
      "bookmarks"
      "autocomplete-snippets"
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "autocomplete-atom-api"
      "about"
      "archive-view"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "last-cursor-position"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
